<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ceuacessivel.gabriel.aplicativoacessibilidade">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.ceuacessivel.gabriel.aplicativoacessibilidade.MainActivity"
            android:label="Céu Acessível"
            android:theme="@style/AppTheme.NoActionBar">
            <!-- ##Força a orientação vertical no app## android:screenOrientation="portrait"-->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.ceuacessivel.gabriel.aplicativoacessibilidade.Main2Activity" />
        <activity android:name="com.ceuacessivel.gabriel.aplicativoacessibilidade.Main3Activity" />
        <activity android:name="com.ceuacessivel.gabriel.aplicativoacessibilidade.Main4Activity" />
        <activity android:name="com.ceuacessivel.gabriel.aplicativoacessibilidade.Main5Activity" />
        <activity android:name="com.ceuacessivel.gabriel.aplicativoacessibilidade.Main6Activity" />
        <activity android:name="com.ceuacessivel.gabriel.aplicativoacessibilidade.Nebulosas" />
        <activity android:name="com.ceuacessivel.gabriel.aplicativoacessibilidade.Constelacoes" />
        <activity android:name="com.ceuacessivel.gabriel.aplicativoacessibilidade.Planetas" />
        <activity android:name="com.ceuacessivel.gabriel.aplicativoacessibilidade.Lua" />
        <activity android:name="com.ceuacessivel.gabriel.aplicativoacessibilidade.SobreApp" />
        <activity android:name="com.ceuacessivel.gabriel.aplicativoacessibilidade.DescricaoInterface" />
        <activity android:name="com.ceuacessivel.gabriel.aplicativoacessibilidade.SobreGaturamo" />
        <activity android:name="com.ceuacessivel.gabriel.aplicativoacessibilidade.ABC" />
        <activity android:name="com.ceuacessivel.gabriel.aplicativoacessibilidade.DEF" />
        <activity android:name="com.ceuacessivel.gabriel.aplicativoacessibilidade.GHI" />
        <activity android:name="com.ceuacessivel.gabriel.aplicativoacessibilidade.JKL" />
        <activity android:name="com.ceuacessivel.gabriel.aplicativoacessibilidade.MNO" />
        <activity android:name="com.ceuacessivel.gabriel.aplicativoacessibilidade.PQR" />
        <activity android:name="com.ceuacessivel.gabriel.aplicativoacessibilidade.ST" />
        <activity android:name="com.ceuacessivel.gabriel.aplicativoacessibilidade.UV" />
        <activity android:name="com.ceuacessivel.gabriel.aplicativoacessibilidade.WX" />
        <activity android:name="com.ceuacessivel.gabriel.aplicativoacessibilidade.YZ" />
        <activity android:name="com.ceuacessivel.gabriel.aplicativoacessibilidade.Definicao" />
        <activity android:name="com.ceuacessivel.gabriel.aplicativoacessibilidade.PlanetasSistemaSolar" />
        <activity android:name="com.ceuacessivel.gabriel.aplicativoacessibilidade.AudiodescricaoPlanetas" />
        <activity android:name="com.ceuacessivel.gabriel.aplicativoacessibilidade.DefinicaoConstelacoes" />
        <activity android:name="com.ceuacessivel.gabriel.aplicativoacessibilidade.ConstelacoesOutono" />
        <activity android:name="com.ceuacessivel.gabriel.aplicativoacessibilidade.ArtigosCientificos" />
        <activity android:name="com.ceuacessivel.gabriel.aplicativoacessibilidade.WellcomePage" />
        <activity android:name="com.ceuacessivel.gabriel.aplicativoacessibilidade.SatelitesNaturais" />
        <activity android:name="com.ceuacessivel.gabriel.aplicativoacessibilidade.DefinicaoSatelites" />
        <activity android:name="com.ceuacessivel.gabriel.aplicativoacessibilidade.DefinicaoNebulosas" />
        <activity android:name="com.ceuacessivel.gabriel.aplicativoacessibilidade.CartaMarcoNorte" />
        <activity android:name="com.ceuacessivel.gabriel.aplicativoacessibilidade.CartaAbrilNorte" />
        <activity android:name="com.ceuacessivel.gabriel.aplicativoacessibilidade.CartaMaioNorte" />
        <activity android:name="com.ceuacessivel.gabriel.aplicativoacessibilidade.CartaJunhoNorte" />
        <activity android:name="com.ceuacessivel.gabriel.aplicativoacessibilidade.CartaMarcoLeste" />
        <activity android:name="com.ceuacessivel.gabriel.aplicativoacessibilidade.CartaMarcoOeste" />
        <activity android:name="com.ceuacessivel.gabriel.aplicativoacessibilidade.ObjetosCeuProfundo" />
        <activity android:name="com.ceuacessivel.gabriel.aplicativoacessibilidade.CartaMarcoSul" />
        <activity android:name="com.ceuacessivel.gabriel.aplicativoacessibilidade.CartaAbril" />
        <activity android:name="com.ceuacessivel.gabriel.aplicativoacessibilidade.CartaAbrilSul" />
        <activity android:name="com.ceuacessivel.gabriel.aplicativoacessibilidade.CartaAbrilLeste" />
        <activity android:name="com.ceuacessivel.gabriel.aplicativoacessibilidade.CartaAbrilOeste" />
        <activity android:name="com.ceuacessivel.gabriel.aplicativoacessibilidade.CartaMaio" />
        <activity android:name="com.ceuacessivel.gabriel.aplicativoacessibilidade.CartaMaioNorte" />
        <activity android:name="com.ceuacessivel.gabriel.aplicativoacessibilidade.CartaMaioSul" />
        <activity android:name="com.ceuacessivel.gabriel.aplicativoacessibilidade.CartaMaioLeste" />
        <activity android:name="com.ceuacessivel.gabriel.aplicativoacessibilidade.CartaMaioOeste" />
        <activity android:name="com.ceuacessivel.gabriel.aplicativoacessibilidade.CartaJunho" />
        <activity android:name="com.ceuacessivel.gabriel.aplicativoacessibilidade.CartaJunhoNorte" />
        <activity android:name="com.ceuacessivel.gabriel.aplicativoacessibilidade.CartaJunhoSul" />
        <activity android:name="com.ceuacessivel.gabriel.aplicativoacessibilidade.CartaJunhoLeste" />
        <activity android:name="com.ceuacessivel.gabriel.aplicativoacessibilidade.CartaJunhoOeste" />
        <activity android:name="com.ceuacessivel.gabriel.aplicativoacessibilidade.RefBiblio" />
        <activity android:name="com.ceuacessivel.gabriel.aplicativoacessibilidade.ComoUsarCarta" />
        <activity android:name="com.ceuacessivel.gabriel.aplicativoacessibilidade.ConstelacoesCeuNoturno" />
        <activity android:name="com.ceuacessivel.gabriel.aplicativoacessibilidade.Equipe" />
    </application>

</manifest>